<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="shortcut icon" href="#">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Harmattan:wght@700&family=Tajawal:wght@500&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Harmattan:wght@700&display=swap"
    rel="stylesheet">
  <style>

  </style>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>

<body>
  <nav class="navbar__menu">
    <!-- Navigation starts as empty UL that will be populated with JS -->
    <a href="/" id="logo">
      MyBlog
    </a>
    <a href="/" id="omar" class="brand animated flip"></a>
    <a class="btn" id="loginButton" href="../user/login">Login, Omar</a>
  </nav>
  <main>
    <% if (user.name!="omar" || user.password !="oooooo7" ){ %>
      <style>
        #Edit,
        #new,
        #submit {
          display: none;
        }

        #loginButton {
          display: inline
        }
      </style>
      <h2 class="welcome">Hello, Reader</h2>
      <h2 class="welcome" style="font-family: 'Tajawal', sans-serif;">اعمل كوباية شاى وخدلك لفّة</h2>
      <% } %>
        <div class="container">
          <h1 class="mb-4">Blog Articles</h1>
          <a href="/articles/new" id="new" class="btn btn-success">New Article</a>

          <% articles.forEach(article=> { %>
            <div class="card mt-4">
              <div class="card-body" dir="auto">
                <h3 class="card-title Tajawal">
                  <%= article.title %>
                </h3>
                <div class="card-subtitle text-muted mb-2 Tajawal">
                  <%= article.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2 Tajawal">
                  <%= article.description %>
                </div>
                <a href="articles/<%= article.slug %>" class="btn btn-primary" id="Read">Read More</a>
                <a href="articles/edit/<%= article.id %>" class="btn btn-info" id="Edit">Edit</a>
                <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                  <button type="submit" id="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
            <% }) %>
        </div>

  </main>


</body>

<script language="JavaScript" type="text/javascript">
  var myArray = ["My", 'Blog', 'Post'];
  let n = 0;
  const textToFlip = document.getElementById("omar")
  setInterval(function () {
    textToFlip.textContent = myArray[n]
    if (myArray.length - 1 == n) {
      n = 0;
    } else {
      n++;
    }
  }, 3000);
</script>
<footer class="page__footer" id="page__footer">
  <p>&copy OmarMostafa</p>
</footer>

</html>